footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #2f9f8d;
}

.foot-img {
    width: 120px;
    &__foot-logo {
        width: 100%;
        padding: 15px;
    }
}

.copy {
    padding: 15px;
    font-size: 12px;
    font-family: "Roboto";
}

