.sticker-create {
  display: flex;
  flex-direction: column-reverse;
  font-family: "Roboto";
}

.form-div {
  padding: 0 10px;
}

.img-div {
  border: 2px solid lightgrey;
  padding: 10px;
  margin: 10px auto;

  &__box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2px;

    &__desperation {
      background-color: lightgrey;
      color: white;
      padding: 5px 10px;
      border-radius: 15px;
    }

    &__image {
      width: 150px;
    }

    &__sentence {
      font-style: italic;
    }

    &__author {
      font-size: 10px;
    }
  }
}

.img-result {
  width: 100%;
  border-radius: 10px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 15px;

  &__fill,
  &__design,
  &__share {
    text-transform: uppercase;
    font-weight: 350;
    border: none;
    border-bottom: 1px solid lightgrey;
    border-top: 1px solid lightgrey;
    padding: 10px;
    display: flex;
    justify-content: space-between;
  }
}

.div-fill {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 0 10px 10px;
  font-size: 14px;

  &__img {
    color: grey;

    &::file-selector-button {
      background-color: grey;
      color: white;
      padding: 10px;
      border: none;
      border-radius: 5px;

      &:hover {
        opacity: 80%;
      }
    }
  }

  &__desperation,
  &__sentence,
  &__author {
    padding: 5px;
    border: lightgrey solid 1px;
    border-radius: 5px;
  }
}

.div-design {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 0 10px 10px;
  font-size: 14px;

  &__size,
  &__color {
    display: flex;
    justify-content: space-around;
  }
}

.div-share {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 0 10px 10px;
  font-size: 14px;

  &__button {
    background-color: grey;
    color: white;
    text-transform: uppercase;
    padding: 15px;
    margin: 10px;
    border: none;
    border-radius: 20px;

    &:hover {
      opacity: 80%;
    }
  }

  &__result {
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    border-bottom: solid 1px lightgrey;
    border-top: solid 1px lightgrey;

    &__url {
      text-decoration: none;
      color: grey;
    }

    &__whats {
      padding: 5px;
      border: none;
      border-radius: 2px;
      background-color: #25d366;
      color: white;
    }
  }
}

@media (min-width: 768px) {
  .sticker-create {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: "Roboto";
  }

  .form-div {
    padding: 10px 80px;
  }

  .img-div {
    height: min-content;

    &__box__image {
      width: 200px;
    }
  }
}
