.sticker-create {
  display: flex;
  flex-direction: column-reverse;
  font-family: "Roboto";
}

.form-div {
  padding: 0 10px;
}

.img-div {
  border: 1px solid grey;
  padding: 10px;
  margin: 10px auto;

  &__box {
    &__image {
      width: 150px;
    }
  }
}

.img-result {
  width: 100%;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 15px;

  &__fill,
  &__design,
  &__share {
    text-transform: uppercase;
    font-weight: 350;
    border: none;
    border-bottom: 1px solid grey;
    border-top: 1px solid grey;
    padding: 10px;
    display: flex;
    justify-content: space-between;
  }
}

.div-fill {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 0 10px 10px;
  font-size: 14px;

  &__img {
    color: grey;
    &::file-selector-button {
      background-color: grey;
      color: white;
      padding: 10px;
      border: none;
      border-radius: 5px;
    }
  }

  &__desperation, &__sentence, &__author {
    padding: 5px;
    border: grey solid 1px;
    border-radius: 5px;
  }
}

.div-design {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 0 10px 10px;
  font-size: 14px;
}

.div-share {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 0 10px 10px;
  font-size: 14px;
}
