header {
    background-color: #2f9f8d;
    padding: 15px;
}

.container-img {
    width: 100px;
    margin: 0 auto;
}

.logo {
    width: 100%;

    &:hover {
        transform: scale(1.05);
    }
}