<section class="section-landing">
    <div class="container-landing">
        <div class="container-landing__containerLogo" >
            <img class="container-landing__containerLogo__logo" src="https://i.pinimg.com/736x/9e/3d/f9/9e3df9c77838a0260ca9abad4cebea03.jpg" alt="Logo AdaStickers">
        </div>
        <div class="container-landing__divTxt">
            <h1>¿Eres una programadora desesperada?</h1>
            <p>Crea tu sticker aquí</p>
        </div>
        <div class="container-landing__containerImg">
            <img class="container-landing__containerImg__img" src="" alt="Imagen ejemplo">
        </div>
        <div class="container-landing__containerbtn" >
            <a class="container-landing__containerbtn__btn" href="./stickers.html">EMPEZAR</a>
        </div>
    </div>
    
</section>