<main class="main-stickers">
  <div class="result">
    <p class="result__desperation js-desperation-result">
      Nivel de desesperación:
    </p>
    <div class="result__image">
      <img
        class="result__image__img js-img-result"
        src="https://i.pinimg.com/550x/09/2a/93/092a93bd0e2f183f210e1840d2c126f4.jpg"
        alt="Sticker final"
      />
    </div>
    <p class="result__sentence js-txt-result"></p>
    <p class="result__author js-author-result"></p>
  </div>
</main>
